<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Multi-Path Story Writer</title>

  </head>
  <body>

    Write your first line in the center box!

    <table>
      <tr>
        <td></td>
        <td class="phrase1">
          <% if @phrase1 %>
            <%= @phrase1 %>
          <% else %>
            <form action="/create_story" method="post">
              <input name="input-box-1" type="text" placeholder="Enter text here...">
              <input value="Submit" type="submit">
            </form>
          <% end %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="phrase2">
          <% if @phrase2 %>
            <%= @phrase2 %>
          <% else %>
            <form action="/create_story" method="post">
              <input name="input-box-2" type="text" placeholder="Enter text here...">
              <input value="Submit" type="submit">
            </form>
          <% end %>
        </td>
        <td class="previous-phrase">

          <% if @newline %>
            <%= @newline %>
          <% else %>
            <form action="/create_story" method="post">
              <input name="input-box-0" type="text" placeholder="Enter text here...">
              <input value="Submit" type="submit">
            </form>
          <% end %>

        </td>
        <td class="phrase3">
          <% if @phrase3 %>
            <%= @phrase3 %>
          <% else %>
            <form action="/create_story" method="post">
              <input name="input-box-3" type="text" placeholder="Enter text here...">
              <input value="Submit" type="submit">
            </form>
          <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="phrase4">
          <% if @phrase4 %>
            <%= @phrase4 %>
          <% else %>
            <form action="/create_story" method="post">
              <input name="input-box-4" type="text" placeholder="Enter text here...">
              <input value="Submit" type="submit">
            </form>
          <% end %>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>

